@use '../../styles/variables' as v;
.anglebrackets_expertise_richtext {
  > div {
    > h2 {
      @media (min-width: 1024px) {
        font-size: 50px;
        line-height: 68px;
      }
      font-family: 'Satoshi', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 35px;
      line-height: 47px;
      text-align: center;
      background: linear-gradient(180deg, #ffffff 38.89%, #001e2b 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      em {
        background: v.$background_Light_green_gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-style: normal;
      }
    }
    > p {
      @media (min-width: 1024px) {
        font-size: 16px;
        line-height: 22px;
      }
      font-family: 'Satoshi', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      color: #f7f8f8;
      opacity: 0.5;
      margin-top: 16px;
    }
  }
}



.technology_richtext {
  > div {
    > p {
      @media (min-width: 1024px) {
        font-size: 18px;
        line-height: 26px;
      }
      font-family: 'Satoshi', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      text-align: left;
      color: #f7f8f8;
      opacity: 0.5;
      margin-top: 16px;
    }
  }
}



