.angle_brackets_developer_slider {
  > .slick-list {
    padding-left: 0px !important;
  }
}
.anglebracketsdevelopers_rich_text {
  > div {
    > p {
        font-family: 'Satoshi', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #f7f8f8;
        opacity: 0.5;
    }
  }
}



.tabssroll_team{

  &::-webkit-scrollbar {
    height: 4px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #21313C;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #aaedc6;
  }
}

.tabscroll_developers{
overflow-x: scroll;
-ms-overflow-style: none;
}

.tabscroll_developers::-webkit-scrollbar{
  display: none;
}


.team_card_text{
      >p{
        display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
      }
    
}