@use '../../styles/variables' as v;
.benefits-mainheading {
  background: linear-gradient(180deg, #ffffff 38.89%, #001e2b 149.51%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  span:nth-child(1) {
    background: linear-gradient(180deg, #00ed64 40.33%, #21313c 133.33%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
}

.benefits_section_rich_text {
  > h2 {
    @media (min-width: 1024px) {
      font-size: 50px;
      line-height: 68px;
    }
    font-family: 'Satoshi', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 34px;
    text-transform: capitalize;
    margin-bottom: 16px;
    text-align: center;
    background: linear-gradient(180deg, #ffffff 38.89%, #001e2b 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    em {
      background: v.$background_Light_green_gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-style: normal;
    }
  }
  > h3 {
    @media (min-width: 1024px) {
      font-size: 50px;
      line-height: 68px;
    }
    font-family: 'Satoshi', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 34px;
    text-transform: capitalize;
    margin-bottom: 16px;
    text-align: center;
    background: linear-gradient(180deg, #ffffff 38.89%, #001e2b 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    em {
      background: v.$background_Light_green_gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-style: normal;
    }
  }
  > h4 {
    @media (min-width: 1024px) {
      font-size: 50px;
      line-height: 68px;
    }
    font-family: 'Satoshi', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 34px;
    text-transform: capitalize;
    margin-bottom: 16px;
    text-align: center;
    background: linear-gradient(180deg, #ffffff 38.89%, #001e2b 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    em {
      background: v.$background_Light_green_gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-style: normal;
    }
  }
  > p {
    font-family: 'Satoshi', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #f7f8f8;
    opacity: 0.5;
  }
}
