.pagedependentprofilesection_developer_slider {
    > .slick-list {
      padding-left: 0px !important;
    }
  }
  .pagedependentprofilesection_rich_text {
    > div {
      > p {
          font-family: 'Satoshi', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          text-align: center;
          color: #F7F8F8;
          opacity: 0.7;
      }
    }
  }
  
  