.anglebrackprojectcard_rich_text{
    >div{
        >p{
            font-family: 'Satoshi', sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #F7F8F8;
            opacity: 0.5;
            align-self: stretch;
        }
    }
}