.faqssection_richtext{
    > div {
        > p {
          font-family: 'Satoshi', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          text-align: center;
          color: #f7f8f8;
          opacity: 0.5;
        }
      }
}