$background_gray_gradient: linear-gradient(
  147.75deg,
  rgba(255, 255, 255, 0.05) 0%,
  rgba(255, 255, 255, 0.025) 100%
);

$background_green_gradient: linear-gradient(
  180deg,
  #00ed64 -21.67%,
  #21313c 108.33%
);
$background_Light_green_gradient: linear-gradient(
  180deg,
  #00ed64 40.33%,
  #21313c 133.33%
);
$background_white_gradient: linear-gradient(
  180deg,
  #ffffff 45.76%,
  #21313c 118.72%
);
$background_green_technologies_gradient: linear-gradient(
  180deg,
  #00ed64 100%,
  #21313c 100%
);