.text_grediant {
    background: linear-gradient(180deg, #00ED64 16.18%, #001E2B 162.5%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}