.mail-icon{
    -webkit-mask: url(../../images/angleBrackets-icons/mail.svg) no-repeat;
    mask: url(../../images/angleBrackets-icons/mail.svg) no-repeat;
    -webkit-mask-size: cover;
    mask-size: cover;
    width: 18px;
    height: 13px;
   
}
    
.phone-icon{
    -webkit-mask: url(../../images/angleBrackets-icons/phone-icon.svg) no-repeat;
    mask: url(../../images/angleBrackets-icons/phone-icon.svg) no-repeat;
    -webkit-mask-size: cover;
    mask-size: cover;
    width: 18px;
    height: 18px;
   
}
    