.testimonialcard_rich_text {
  > div {
    > p {
      font-family: 'Satoshi', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;
      color: #f7f8f8;
      opacity: 0.5;
    }
  }
}
